{% extends 'error_base.html.twig' %}

{% block body %}
    404 Error: Sorry we do not recognize this page.
    <br><small style="color: #888;" align="center"><a href="{{ path('homepage') }}">You can go back to our home page here.</a></small> 
{% enblock %}
