{% extends 'error_base.html.twig' %}

{% block body %}
    403 Error: Sorry but you have no access to view this page.
    <br><small style="color: #888;" align="center"><a href="{{ path('homepage') }}">Please go back to our home page here.</a></small> 
{% endblock %}
