{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
    <div class="container">
    <div class="layout layout--center layout--middle xs-ptb2 sm-ptb5">
    <div class="layout__item xs-10of12 sm-6of12 sm-pl3 xs-mrlauto"><div class="layout">
    <div class="layout__item xs-pb1"><div class="list--header xs-text-center sm-text-left">About Shipsked</div></div><div class="layout__item xs-pb1 sm-10of12"><h2 class="xs-text-center sm-text-left">Want to know about shipsked?</h2></div><div class="layout__item sm-8of12"><p class="xs-text-center sm-text-left body-copy">
                shipsked is a simple yet very useful application aimed to help passengers easily find shipping schedules in the Philippines. This help compare prices among all shipping vessels. Shows vessel information like accomodations, departure port/time, and arrival port/time.
                <br><br>We are also aiming to help shipping companies on making their processes become more efficient and faster.

                <br>
                <br>
                <a href="{{ path('homepage') }}">Start search here</a>
    </p></div></div></div><div class="layout__item xs-10of12 sm-6of12 xs-mrlauto xs-pt1 sm-pt0"><div class="box box--white-light">
    <div class="layout xs-ph1 sm-p3">
    <div class="layout__item xs-pbh1"><p class="intro-body-copy xs-inseth1">
        <strong>More Features Soon</strong><br>
                 &bull; Send feedbacks for a specific vessel schedule. This is to also help shipping companies improve their services.
                 <br>
                 &bull; Follow vessel schedule to get updates of price and schedule changes.
                 <br>
                 &bull; Login users can also report schedule and pricing changes.

        </p></div>
    </div></div></div>
    </div>
    </div>
    
    {% include 'default/sections/howto.html.twig' %}

    {% include 'default/sections/mailing.html.twig' %}
{% endblock %}
