{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Want to know about shipsked?</h1>
            <p class="lead">
                shipsked is a simple yet very useful application aimed to help passengers easily find shipping schedules in the Philippines. This help compare prices among all shipping vessels. Shows vessel information like accomodations, departure port/time, and arrival port/time.
            </p>
            <p class="lead">
                We are also aiming to help shipping companies on making their processes become more efficient and faster.
            </p>
            <p class="lead text-muted">
                <small>More Features Soon</small>
            </p>
            <p class="lead text-muted">
                 Send feedbacks for a specific vessel schedule. This is to also help shipping companies improve their services.
            </p>
            <p class="lead text-muted">
                Follow vessel schedule to get updates of price and schedule changes.
                Login users can also report schedule and pricing changes.
            </p>
            <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg">Start searching now</a>
        </div>
        <br>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
                    <div class="col-12">
                        <div class="row">
                        <div class="col">
                        <div class="card card-full">
                            <div class="card-header bg-dark text-white">
                                <i class="material-icons" style="color:#16e765">check_circle</i> Search nearest port of specified town/city.
                            </div>
                            <div class="card-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="material-icons md-92">pin_drop</i>
                                        <blockquote class="blockquote mb-0">
                                            <p>From a specified town/city we search the entire region to find the nearest port.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="card card-full">
                            <div class="card-header bg-dark text-white">
                                <i class="material-icons" style="color:#16e765">check_circle</i> Search available schedules with specified travel date.
                            </div>
                            <div class="card-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="material-icons md-92">date_range</i>
                                        <blockquote class="blockquote mb-0">
                                            <p>From a specified travel date we search the vessel schedules in each port.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                        <div class="card card-full">
                            <div class="card-header bg-dark text-white">
                                <i class="material-icons" style="color:#16e765">check_circle</i> Search all possible destination.
                            </div>
                            <div class="card-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="material-icons md-92">location_searching</i>
                                        <blockquote class="blockquote mb-0">
                                            <p>Able to see other possible vessel trips that is also near to your destination.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="card card-full">
                            <div class="card-header bg-dark text-white">
                                <i class="material-icons" style="color:#16e765">check_circle</i> Find vessels that is within your budget.
                            </div>
                            <div class="card-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="material-icons md-92">attach_money</i>
                                        <blockquote class="blockquote mb-0">
                                            <p>Shows vessel accomodation prices to find which best fits your travel budget.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                        <div class="card card-full">
                            <div class="card-header bg-dark text-white">
                                <i class="material-icons" style="color:#16e765">check_circle</i> Shipping company schedules
                            </div>
                            <div class="card-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="material-icons md-92">directions_boat</i>
                                        <blockquote class="blockquote mb-0">
                                            <p>
                                                We currently have schedules from the following shipping companies:
                                                <br>
                                                &bull; 2Go
                                                &bull; Roble Shipping
                                                &bull; Cokaliong
                                                &bull; Supercat
                                                &bull; Oceanjet
                                                &bull; Fastcat
                                                &bull; More shipping schedules soon!
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
