{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Roble Shipping Inc.</h1>
            <p class="lead text-muted">Something short and leading about the collection below&mdash;its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                    </div>
                                    </div>
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                    </div>
                                    </div>
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                    </div>
                                    </div>
            </div>
        </div>
    </div>
{% endblock %}
