{% extends 'base.html.twig' %}

{% block body %}
<div class="redesigned-homepage">
<div class="box box--white">
<div class="container--hero">
<div class="layout layout--center">
<div class="homepage-hero hero--image layout__item md-6of12 xs-pl0 xs-block md-none"></div><div class="get-matched layout__item md-6of12 box--red"><div class="layout layout--center xs-pt2 xs-pbh4 md-pt6 lg-pt8">
<div class="layout__item xs-text-center xs-11of12">
<div class="hero-headline text-white xs-inseth2">Find ship schedules for your travels</div>
</div><div class="layout__item xs-ptb1 xs-10of12"><p class="xs-epsilon sm-delta sm-inseth1 xs-text-center">We can help find vessel trips nearest to your location including alternative destination routes</p></div><div class="layout__item xs-text-center"><a class="button button--secondary" href="{{ path('search') }}">Find schedules now</a></div><div class="layout__item learn_more"></div></div></div><div class="layout__item md-6of12 xs-pl0 xs-none md-inline-block homepage-hero hero--image"></div></div>

{% include 'default/sections/ship.html.twig' %}

{% include 'default/sections/ports.html.twig' %}

{% include 'default/sections/howto.html.twig' %}

{% include 'default/sections/know.html.twig' %}

{% include 'default/sections/mailing.html.twig' %}

{% endblock %}
