{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
    <div class="container">
    <div class="layout layout--center layout--middle xs-ptb2 sm-ptb5">
    <div class="layout__item xs-10of12 sm-6of12 sm-pl3 xs-mrlauto"><div class="layout">
    <div class="layout__item xs-pb1"><div class="list--header xs-text-center sm-text-left">Promos</div></div><div class="layout__item xs-pb1 sm-10of12"><h2 class="xs-text-center sm-text-left">Greate promos ahead!</h2></div><div class="layout__item sm-8of12"><p class="xs-text-center sm-text-left body-copy">

    For shipping companies and travel agencies feel free to contact us to post your upcoming or ongoing promos.

    <br>
    <br>
    <a href="{{ path('contact') }}">Send us a message here</a>
    </p></div></div></div><div class="layout__item xs-10of12 sm-6of12 xs-mrlauto xs-pt1 sm-pt0"><div class="box box--white-light">
    <div class="layout xs-ph1 sm-p3">
    <div class="layout__item xs-pbh1"><p class="intro-body-copy xs-inseth1">
        <i class="material-icons" style="color:#16e765">check_circle</i> We will be posting promos soon!
        
        <br>
        <br>
        We are currently waiting for shipping companies to post promos here.

        </p></div>
    </div></div></div>
    </div>
    </div>

    {% include 'default/sections/ship.html.twig' %}

    {% include 'default/sections/ports.html.twig' %}

    {% include 'default/sections/know.html.twig' %}
{% endblock %}
