<div class="box box--lt-gray xs-block lg-none">
<div class="container">
<div class="layout__item xs-pl0 xs-10of12 lg-12of12 xs-ptbh3 xs-mrlauto xs-block"><div class="layout">
<div class="layout__item sm-pb1"><div class="list--header xs-text-center sm-text-left">Know vessel details</div></div><div class="layout__item xs-pb1"><h2 class="xs-text-center sm-text-left">Know more about your trip.</h2></div><div class="layout__item"><p class="xs-text-center sm-text-left body-copy">We show all possible information needed of a vessel like prices, acommodation, contact, and ticketing. This also includes travel distances from your location to sea ports.
</p></div></div></div></div>
</div>
<div class="second-hero xs-block sm-none"></div>
<div class="secondary-hero">
<div class="container xs-none md-block">
<div class="layout layout--center">
<div class="layout__item xs-10of12 sm-6of12 xs-mrlauto sm-push5of12 xs-ptb3 md-pt7 md-pl2"><div class="layout">
<div class="layout__item sm-pb1"><div class="list--header">Know vessel details</div></div><div class="layout__item xs-pb1 sm-8of12 md-7of12"><h2 class="text-white">Know more about your trip.</h2></div><div class="layout__item sm-8of12"><p class="text-lt-gray body-copy">We show all possible information needed of a vessel like prices, acommodation, contact, and ticketing. This also includes travel distances from your location to sea ports.
</p></div></div></div></div>
</div>
</div>
<div class="box">
<div class="container">
<div class="layout layout--center layout--middle xs-ptb2 sm-ptb5">
<div class="layout__item xs-10of12 sm-6of12 sm-pl3 xs-mrlauto"><div class="layout">
<div class="layout__item xs-pb1"><div class="list--header xs-text-center sm-text-left">Constant Updates</div></div><div class="layout__item xs-pb1 sm-10of12"><h2 class="xs-text-center sm-text-left">We are constantly updating schedules.</h2></div><div class="layout__item sm-8of12"><p class="xs-text-center sm-text-left body-copy">We try our best to get latest schedules from shipping companies. We also encourage our users to report schedule changes.</p></div></div></div><div class="layout__item xs-10of12 sm-6of12 xs-mrlauto xs-pt1 sm-pt0"><div class="box box--white-light">
<div class="layout xs-ph1 sm-p3">
<div class="layout__item xs-2of12 md-1of12 xs-pb1"><img data-ui-component="retina-image" data-hidpi-src="{{ asset('images/quote.png') }}" src="{{ asset('images/quote.png') }}" alt="Quote"></div><div class="layout__item xs-pbh1"><p class="intro-body-copy xs-inseth1">
The idea started when my wife, my daughter and I were travelling in Bohol. We had a hard time finding possible schedule for a trip to Cebu. So I asked if only there is an application that we can just input our location and destination then show us all possible trip schedules.
</p></div><div class="layout__item text-dark-blue"><div class="xs-epsilon text-medium">Nino Anthony Labrador</div></div><div class="layout__item xs-zeta"><p class="small-caption">Founder and Creator</p></div></div>
</div></div></div>
</div>
</div>
