<div class="box box--lt-blue">
<div class="container">
<div class="layout layout--center xs-ptbh1 sm-ptb3">
<div class="layout__item sm-6of12"><div class="layout xs-9of12 sm-12of12 xs-mrlauto xs-block lg-float-left">
<div class="layout__item xs-pt1 sm-pt0"><div class="list--header xs-text-center lg-text-left">Want to get updates?</div></div><div class="layout__item"><p class="caption-copy xs-text-center lg-text-left">Join our mailing list for updates and tips. We can also share our travels with you.</p></div></div></div><div class="layout__item xs-10of12 lg-6of12 xs-mrlauto xs-block sm-inline-block sm-mt1 md-mt0"><form action="/leads" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="yWcRKP56nMQwMwDH6fm4Xq4OiJjDofqLmM+lPgGe9n5fc/s+fGIf1SlpQJe0jcAeZWoyalMHoZquzA6Qq6OH9Q==" type="hidden"><div class="field field--horizontal xs-pt1">
<div class="layout layout--center">
<div class="layout__item xs-9of12 sm-7of12 md-9of12 xs-mb1 sm-mb0"><input class="text-input text-input input--full" placeholder="Your email" name="lead[email]" id="lead_email" type="email">
<input value="1" name="lead[locale_id]" id="lead_locale_id" type="hidden">
</div><div class="layout__item sm-3of12 xs-pt1 sm-pt0 xs-inline sm-float-right"><button type="submit" name="commit" class="button button button--primary" id="apply-to-join-btn" data-disable-with="Submit">Submit</button></div></div>
</div>
</form></div></div>
</div>
</div>
</div>
