</div><div class="layout__item md-5of12 xs-none sm-inline-block"></div><div class="box box--xlt-gray">
<div class="container">
<div class="layout layout--center xs-ptb2 sm-ptbh3">
<div class="layout__item md-11of12"><div class="layout layout--center">
<div class="layout__item xs-6of12 sm-3of12 border--lt-gray md-br1 xs-text-center sm-text-left xs-prh0" data-ui-component="magnific-popup"><div class="list--header">Top destinations</div>
<div class="layout">
<div class="layout__item xs-none sm-block"><div class="layout">
<div class="layout__item xs-none sm-inline-block"><ul class="bare-list intro-body-copy">
<li>
Cebu
</li>
<li>
Bohol
</li>
<li>
Leyte
</li>
<li>
Negros
</li>
</ul></div></div></div></div>
<div class="layout__item xs-pb1 sm-pb0 sm-pth0 xs-pl0 xs-none"><div class="more-jobs-modal sm-prl2 mfp-hide box--white" data-ui-component="magnific-src">
<div class="layout">
<div class="layout__item"><h2>Find ship schedules in Philippines.</h2></div><div class="layout__item xs-pt1"><p class="body-copy"></p></div><div class="layout__item"></div></div>
<div class="layout xs-pth1">
<div class="layout__item sm-4of12"><div class="layout">
<div class="layout__item"><div class="list--header"></div></div><div class="layout__item xs-inseth1"><ul class="bare-list intro-body-copy">
</ul></div></div></div><div class="layout__item sm-8of12 xs-pt1 sm-pt0"><div class="layout sm-6of12 xs-inline-block">
<div class="layout__item"><div class="list--header"></div></div><div class="layout__item xs-inseth1"><ul class="bare-list intro-body-copy">
</ul></div><div class="layout__item xs-pth1"><div class="list--header">management</div></div><div class="layout__item"><ul class="bare-list intro-body-copy">
</ul></div></div>
<div class="layout sm-6of12 xs-inline-block sm-float-right xs-pt1 sm-pt0">
<div class="layout__item"><div class="list--header"></div></div><div class="layout__item xs-inseth1"><ul class="bare-list intro-body-copy">
</ul></div></div></div></div>
</div></div></div>
<div class="layout__item xs-6of12 sm-4of12 border--lt-gray md-br1 xs-text-center sm-text-left md-pbh0 sm-pl2" data-ui-component="home-page"><div class="list--header">Location sea ports</div>
<div class="layout xs-none sm-block">
<div class="layout__item sm-6of12"><div class="layout">
<div class="layout__item xs-none sm-inline-block"><ul class="bare-list intro-body-copy">
<li>
    Cebu City
</li>
<li>
    Tagbilaran
</li>
<li>
Hilongos
</li>
</ul></div></div></div><div class="layout__item sm-6of12"><ul class="xs-none sm-inline-block bare-list intro-body-copy">
<li>
Sibulan
</li>
<li>
Samboan
</li>
<li>
Manila
</li>
</ul></div></div>
<div class="layout__item"><div class="more-cities-modal sm-prl2 mfp-hide box--white">
<div class="layout">
</div>
<div class="layout xs-pth1">
<div class="layout__item sm-6of12"><div class="layout">
<div class="layout__item"><div class="list--header">North America</div></div><div class="layout__item sm-6of12"><ul class="bare-list intro-body-copy">
</ul></div><div class="layout__item sm-6of12"><ul class="bare-list intro-body-copy">
</ul></div></div></div><div class="layout__item sm-2of12"><div class="layout">
<div class="layout__item xs-pth0 sm-pt0 xs-pl1 sm-pl0"><div class="list--header">Europe</div></div><div class="layout__item xs-pl1 sm-pl0"><ul class="bare-list intro-body-copy">
</ul></div></div></div><div class="layout__item sm-3of12"><div class="layout">
<div class="layout__item xs-pth0 sm-pt0 sm-pl0"><div class="list--header">Asia Pacific</div></div><div class="layout__item xs-pl1 sm-pl0"><ul class="bare-list intro-body-copy">
</ul></div></div></div></div>
</div></div></div>
<div class="layout__item xs-10of12 sm-3of12 xs-pl2 sm-pl3 md-pl2 xs-block xs-text-center sm-text-left sm-inline-block xs-mrlauto"><div class="list--header">Vessel Types</div>
<div class="layout">
<div class="layout__item"><ul class="bare-list intro-body-copy">
<li class="xs-inline-block sm-block xs-prh0 sm-pr0">
Passenger
</li>
<li class="xs-inline-block sm-block xs-prh0 sm-pr0">
RORO
</li>
<li class="xs-inline-block sm-block">
Fastcraft
</li>
</ul></div></div></div></div></div><div class="layout__item xs-pt1 sm-pth3"><div class="layout layout--center">
<div class="layout__item xs-pb1 xs-8of12 sm-12of12"><h5 class="xs-text-center text-medium">Get updates and share schedule change.</h5></div><div class="layout__item xs-pb1 xs-10of12 sm-12of12"><p class="body-copy xs-text-center">Sign up to get updates of ship schedules. Also able to share to everyone any vessel schedule change.</p></div><div class="layout__item xs-text-center"><a class="button button--primary" href="{{ path('homepage') }}">Signup now</a></div></div></div></div>
</div>
</div>
